# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

cmd/sc-ubl
sc-ubl.sh
sc-ubl.log
sc-ubl_user.log
sc-ubl_party.log
sc-ubl_order.log
sc-ubl_tax.log
sc-ubl_logistics.log
sc-ubl_invoice.log
internal/common/keys
frontend/node_modules
frontend/.env
